*, *::before, *::after {
  box-sizing: border-box;
}

body {
  --red-dark: #780000;
  --red-light: #c1121f;
  --beige: #fdf0d5;
  --blue-dark: #003049;
  --blue-light: #669bbc;

}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

h1 {
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-nav {
  position: sticky;
  top: 0;
  padding: 2em 6em;
  background-color: var(--blue-light);
}

.content {
  position: absolute;
  width: 100%;
}

.hamburger {
  background-color: var(--beige);
}

.menu {
  margin: 0;
  padding: 0;
  background-color: var(--blue-light);
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 10em;
  height: 100%;
  width: 50%;
  max-width: 600px;
}

.hide-side-menu {
  display: none;
}

.menu > li {
  margin: 0;
  list-style: none;
  font-size: 3em;
  padding-left: 1em;
  padding-bottom: 1em;
  background-color: var(--blue-dark);
}

.menu > li:hover,
.menu > li:focus  {
  opacity: 0.5;
}

.button-toggle-menu {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #003049;
  top: 50%;
  right: 0;
}

.hero {
  text-align: center;
  padding: 2em 0;
  background-color: var(--beige);
}

.hero__title {
  color: var(--red-light);
}

.rule {
  padding: 1em 0;
}

.rule__title {
  text-align: center;
}

.rule__description {
}

.rule__img {
  display: block;
  margin: 0 auto;
}